@use "./variables";

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: var(--background);
    color: var(--text-primary);
    font-family: "Manrope", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

p {
    color: var(--text-secondary);
}